<section class="content-section bg-light" id="about">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2>The Vision: A High-Quality Plane for Every Mission</h2>
                <p class="lead mb-5">We want the club experience to be the closest thing to owning your own fleet, minus all the exorbitant costs and upkeep. This means we keep a low member-to-plane ratio with best-in-class equipment.</p>
                <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">What We Offer</a>
            </div>
        </div>
    </div>
</section>