<section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
        <div class="content-section-heading">
            <!-- <h3 class="text-secondary mb-0">Services</h3> -->
            <h2 class="mb-5">How do we define a great plane?</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-plane"></i>
            </span>
                <h4>
              <strong>Performance</strong>
            </h4>
                <p class="text-faded mb-0">High performance, Creature comforts</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-badge"></i>
            </span>
                <h4>
              <strong>Safety</strong>
            </h4>
                <p class="text-faded mb-0">Professional management, CAPS/BRS parachute</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-earphones-alt"></i>
            </span>
                <h4>
              <strong>Modern Avionics</strong>
            </h4>
                <p class="text-faded mb-0"> Glass cockpits, autopilots, ADSB </br> IFR ready</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-mustache"></i>
            </span>
                <h4>
              <strong>Properly Maintained</strong>
            </h4>
                <p class="text-faded mb-0">Good Exterior and Interior Condition</p>
            </div>
        </div>
      </br></br></br>
        <a class="btn btn-secondary btn-xl js-scroll-trigger" href="#membership">Come fly with us</a>
      </div>
    </div>
</section>